
{% extends 'SiteBundle:Default:base.html.twig' %}


{% block body %}



<main id="barba-wrapper">
  <div class="main__inner barba-container">
    <h1>SUPER MARIO BROS. 2000</h1>

    <img style="position: absolute; right: -80px; width: 150px; top: 0;" src="{{ asset('bundles/site/images/Mario_Artwork_-_Super_Mario_3D_World.png') }}" alt="">

    <p>
      Super Mario Bros. 2000 bietet einkomplett neues Spielerlebnis. Springe, Laufe und Stampfe mit dem Klempner Mario durch ein seitlich scrollendes 3D-Abendteuer.
    </p>

    <p>
      Erkundige dich durch				die neuartige Augemted Reality und				meistere die Levels. Super Mario Bros. 2000				bietet eine Vielzahl von Spielmodi, mit denen					du deine Fähigkeiten unter Beweis stellen 					kannst.
    </p>
    <p>Bis zu 4 Spieler können durch die 				brandneuen Level hüpfen. So bekommt das					klassische Mario Gameplay eine ganz neue					Facette. Alle Spieler können an einem Strangziehen, um einen Kurs zu meistern, oder sie wetteifern gegeneinander um Münzen und Power-Ups.</p>

    <h3>Features</h3>
    <ul>
      <li>Klassische Mario Action in 3D</li>
      <li>Verschiedenste Modi neben dem Hauptspiel</li>
      <li>Kooperieren oder Wettstreiten</li>
    </ul>

    <img style="position: absolute; left: -80px; width: 100px; bottom: 0;" src="{{ asset('bundles/site/images/Unbenannt-4.png') }}" alt="">

    <a class="button" href="{{ path('detail_page') }}">Jetzt Kaufen</a>

  </div>
</main>

{% endblock %}
