body {
  background-size: cover;
  background-position: center;
  height: 100vh;
}

main {
}

.main__inner {
  max-width: 800px;
  margin: 4rem auto;
  background-color: white;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 6px 9px rgba(0,0,0,0.1);
  position: relative;

  ul {
    padding: 1rem;
  }

  h3 {
    padding-top: 1rem;
  }

  p {
    padding-bottom: 1rem;
  }

  a.button {
    position: absolute;
    padding: 1rem;
    border-radius: 1rem;
    background-color: red;
    bottom: 1rem;
    right: 1rem;
    text-decoration: none;
    font-weight: 900;
    font-size: 1rem;
    color: white;
    @include transition(all 0.3s);
    border-bottom: 1px transparent;

    &:hover {
      transform: translateY(-5px);
      border-bottom: 5px darken(red, 15);
    }
  }


}

h1 {
  color: red;
  margin-bottom: 1rem;
  @include transition(all 0.3s);
}


p {
  font-size: 1.2rem;
  line-height: 1.4;

  @include screen-max(phone) {
    
  }

  @include links($blue-jeans-shade, $aqua, $blue-jeans, $blue-jeans);
}


.form {
  max-width: 600px;
  padding-bottom: 5rem;




  .button {
  }
}

.form-row {
  @include flexin(column, flex-start, flex-start);
  span {
    padding: 1rem 0 0 1rem;
    color: #909090;
  }

  input {
    border-radius: 1rem;
    padding: 1rem;
    font-size: 1rem;
    width: 100%;
  }
}


a.order-button {
  position: absolute;
  bottom: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  background-color: red;
  text-decoration: none;
  font-weight: 900;
  font-size: 1rem;
  color: white;
  @include transition(all 0.3s);
  border-bottom: 1px transparent;

  &:hover {
    transform: translateY(-5px);
    border-bottom: 5px darken(red, 15);
  }
}


.remodal-confirm {
  border-radius: 1rem;
}






input[type=text], textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
}

input[type=text]:focus, textarea:focus {
  box-shadow: 0 0 5px rgb(238, 0, 1);
  margin: 5px 1px 3px 0px;
  border: 1px solid rgb(238, 0, 44);
}